article.project
	.group_front
		img(src='images/portfolio/Ron-Parks-Photography---Splash---Thin.jpg', alt='Screenshot of ronparksphotography.com - Splash page - mobile version')
		img(src='images/portfolio/Ron-Parks-Photography---Splash---Med.jpg', alt='Screenshot of ronparksphotography.com - Splash page - thin width')
		img(src='images/portfolio/Ron-Parks-Photography---Splash---Wide.jpg', alt='Screenshot of ronparksphotography.com - Splash page - desktop width')
		img(src='images/portfolio/Ron-Parks-Photography---Weddings---Thin.jpg', alt='Screenshot of ronparksphotography.com - on mobile device')
		img(src='images/portfolio/Ron-Parks-Photography---Weddings---Med.jpg', alt='Screenshot of ronparksphotography.com - thin width')
		img(src='images/portfolio/Ron-Parks-Photography---Picture-Day---Wide.jpg', alt='Screenshot of ronparksphotography.com - desktop width')
	aside.group_back
		header
			h3 Ron Parks Photography
			i.icon-WordPress(title='WordPress')
			i.icon-HTML5(title='HTML5')
			i.icon-CSS3(title='CSS3')
			i.icon-JavaScript(title='JavaScript')
			i.icon-Sass(title='Sass')
			i.icon-compass(title='Compass')
			i.icon-php(title='PHP')
			i.icon-Illustrator(title='Adobe Illustrator')
			i.icon-jQuery(title='jQuery')
		.content
			p
				| I designed and developed this project entirely from the ground up, save for the slider (which I themed), building on top of a WordPress iteration of the HTML5 Boilerplate.
				a(href='http://ronparksphotography.com', target='_blank') Check it out here.
			p
				| Launched at the end of March 2013.
			h4 Elements I'm Proudest Of:
			ul
				li
					em Everything
					| is responsive &amp; mobile-ready
				li
					| I learned to create plugins that make custom shortcodes accessible through the WordPress editor, so that Ron can add and update complex things with ease.
				li I created drop-down help-text to aid in remembering these short codes.
				li
					| I altered the WordPress user interface to make it altogether simpler, only showing menus relevant to my client.
				li
					| I created custom post types and assigned them to custom taxonomies so that my client's Venue and Client tags don't get mixed up between his Wedding, Corporate, and School-oriented pages.
				li
					| The book in the Schools—Picture Day section is made entirely out of CSS, and is fluid.
				li The thumbnails on the splash page change randomly upon each refresh.
				li This was my first implementation of iconfonts.
				li This was my largest project yet.
