article.project
	.group_front
		img(src='images/portfolio/Steel-pan---aminimalanimal---Thin.jpg', alt='screenshot of a digital Lead Steel Pan, an instrument used in upbeat Caribbean music, created with HTML5 Audio and CSS3 - mobile width')
		img(src='images/portfolio/Steel-pan---aminimalanimal---Medium.jpg', alt='screenshot of a digital Lead Steel Pan, an instrument used in upbeat Caribbean music, created with HTML5 Audio and CSS3 - medium width')
	aside.group_back
		header
			h3 Lead Steel Pan
			i.icon-HTML5(title='HTML5')
			i.icon-CSS3(title='CSS3')
			i.icon-CoffeeScript(title='CoffeeScript')
			i.icon-Sass(title='Sass')
			i.icon-compass(title='Compass')
		.content.columnless
			p
				| I decided to make a playable Steel Drum with HTML5 Audio and CSS3. It works properly in the latest desktop versions of Google Chrome, Safari, Firefox, and Opera.
			h4 Highlights:
			ul
				li
					| You can
					a(href='http://aminimalanimal.com/projects/steel-pan', target='_blank') click here to play it!
				li
					| The steel drum is fully fluid, so it fills your screen either horizontally or vertically as much as possible.
				li No images. Everything is CSS3.
			p
				| Audio samples courtesy of musician and engineer Kendall Clark. You can check out his music at
				a(href='http://kendallclarkmusic.com', target='_blank') kendallclarkmusic.com
				| . If you use Ableton Live, you can purchase the full Live patch in his tutorial blog's webstore:
				a(href='https://store.abletonop.com/abletonop-steel-pan', target='_blank') AbletonOp.com
				| .