#compliments
	figcaption
		text-align: right
		font-size: 10
	blockquote
		box-sizing: border-box
		min-height: 80px
		margin: margins 0
		padding: (margins) (margins * 2)
		border-radius: 3px
		box-shadow: inset 5px 0 0 0 highlightcolor
		@media (min-width: oneofthreebreak)
			margin: margins

	a
		color: fontcolor2
		text-decoration: none
		transition: color 0.5s
		&:hover
			color: fontcolor4
		&:active
			color: fontcolor2