#skills
	border-bottom: sectionborderthickness double tan

.slabtexted .slabtext
	text-align: center
	display: -moz-inline-box
	display: inline-block
	white-space: nowrap

.slabtextinactive .slabtext
	display: inline
	white-space: normal
	font-size: 1em !important
	letter-spacing: inherit !important
	word-spacing: inherit !important
	*letter-spacing: 0 !important
	*word-spacing: 0 !important

.slabtextdone .slabtext
	display: block

#skillslab
	margin: 0
	box-sizing: border-box
	rem: padding, 0 10px
	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 25%, rgba(0,0,0,1) 100%)
	i
		text-shadow: 0 1px 0 #FFFFFF
	span:first-of-type
		line-height: 1.2
	span:nth-of-type(2)
		line-height: 1
	span:nth-of-type(3)
		line-height: 1
	span:nth-of-type(4)
		line-height: 1.5
	span:nth-of-type(5)
		line-height: 1.5