// Declaration of Variables
fontcolor1 = #222
fontcolor2 = #444
fontcolor3 = #777
fontcolor4 = #07A
highlightcolor = fontcolor4
color6 = darken(fontcolor4, 10%)
backgroundtexture = url("/images/outletsbrightest.png")
buttontexture = url("/images/outletslight.png")
margins = 10px
padding = margins * 3
sectionborderthickness = 20px
tan = rgba(0,0,0,0.05)
// $highlightcolor: darken(desaturate(adjust-hue(fontcolor4, -60deg), 35%), 5%)
maxheight = 36em
oneoftwobreak = 45em
oneofthreebreak = 60em
sliderHeight = 100%
maxOpacity = 0.95