// body
// 	background red


// /*
//     Imports all sass/scss files from _base.sass and places them in style.css
//     */

// once this project is added to CodeKit, the compass/css3 import will automatically connect and use compass' css3 module, allowing for auto vendor-prefixing by using the @include sass syntax.
@import "_normalize"
@import "_boilerplate"
@import "_variables"
// @import "iconfont"
@import "_main"
@import "_opener"
@import "_skills"
@import "_focuses"
@import "_portfolio"
@import "_portfolio_exceptions"
@import "_compliments"
// @import "_goals"
// @import "_unstoppable"
@import "_contact"