article.project
	.group_front
		img(src='images/portfolio/Chemical-Grove---Broken-People-album-art---Front.jpg', alt='Chemical Grove - Broken People album art - Front cover of a black and white vector-brushed tree illustration')
		img(src='images/portfolio/Chemical-Grove---Broken-People-album-art---Back.jpg', alt='Chemical Grove - Broken People album art - Back cover of song titles and a dreary landscape with a meteor in the distance')
		img.borderless(src='images/portfolio/Chemical-Grove---Broken-People-album-art---CD.png', alt='Chemical Grove - Broken People album art - CD of two fragmented pseudo-skeletal men in a dreary landscape')
	aside.group_back
		header
			h3 Broken People
			i.icon-Illustrator(title='Adobe Illustrator')
		.content
			p
				| My friends in
				a(href='http://chemicalgrove.com', target='_blank') Chemical Grove
				| asked me to do album art for their EP, Broken People, with a deadline of a week for the cover.
			p
				| I experimented with several ideas, one of which is very similar to the CD art, before starting over with the concept of this tree.
			p
				| They'd been considering an abstraction of turning roots into veins, so I made a very clean, vectorized, veiny tree as a second draft.
			p
				| I was told it was too vectorish, however, and that it should be more natural; and so I broke out the digital brushes and, along with the symbol sprayer, did exactly that, leading to what you see now.
			p
				| After finding the sense of style, giving the rest the same treatment was a breeze.
