article.project
	.group_front
		img(src='img/portfolio/Go---1.jpg', alt='Go board made entirely in HTML and CSS3')
		img(src='img/portfolio/Go---2.jpg', alt='Go board made entirely in HTML and CSS3')
	aside.group_back
		header
			h3 Go
			i.icon-CSS3(title='CSS3')
			i.icon-jQuery(title='jQuery')
			i.icon-JavaScript(title='JavaScript')
			i.icon-Illustrator(title='Adobe Illustrator')
		.content
			p This was an experiment that I created in 12 hours when a friend of mine started waxing entrepreneurial about creating a superior online Go game. I mapped out logic for automatic removal of pieces but never finished the JavaScript when I recognized he wasn't serious about actually doing any work himself, and that I don't really care about Go.
			h4 Coolest things about this:
			ul
				li
					strong
						| There are only two images total on this site, and they're both wood grain textures.
					| That means absolutely everything else you see is
					strong entirely HTML and CSS3.
				li
					| You can barely see it in the still shots, but in action there's a very interesting CSS3 animation that takes place on the bowl of stones of the current player's turn.
				li
					| When zooming in with your browser, the lines on the board and stones stay perfectly crisp.
				li Look at those stones! They're nearly photorealistic! And they're just CSS!
			p I might actually pick this project up again sometime... I think I've figured out how to make the entire thing perfectly fluid. And when I do, I plan to put a playable prototype up on the site.
