extends ../index.jade

prepend head
	title aminimalanimal

block header
	
block content
	include ../pages/main/opener
	div.container
		include ../pages/main/skills
	include ../pages/main/portfolio
	div.container
		include ../pages/main/focuses
		include ../pages/main/goals
		include ../pages/main/contact
		include ../pages/main/compliments

block footer
	include ../pages/main/footer