section#contact
	.one_of_two.keep-in-touch
		h3 Keep in Touch
		span.social_media
			a(href='http://pinterest.com/aminimalanimal', target='_blank', title='Pinterest')
				span.icon-Pinterest
			a(href='http://linkedin.com/in/aminimalanimal', target='_blank', title='LinkedIn')
				span.icon-LinkedIn
		p
			| My
			a(href='http://pinterest.com/aminimalanimal', target='_blank') Pinterest account
			| is like a portal to my sense of taste. That’s
			em probably
			| relevant.
			br
			| (I’ve also got a nice board of website designs I find inspiring on it, too.)
		p
			| You can alternatively email me with your preferred email client at
			a(href='mailto:james@aminimalanimal.com')
				| james@a
				span.highlight minimal
				| animal.com