section#goals
	h3 Goals for 2013
	.one_of_four
		h4 Become better at serverside languages.
		p
			| Getting better at PHP and learning server-side JavaScript like node.js will enable me to add more sophisticated functionality to sites.
	.one_of_four
		h4 Start creating apps—not just sites.
		p
			| I want to start making web apps and browser-based games, as well as begin learning Objective-C to create Mac and iPhone/iPad apps.
	.one_of_four
		h4 Faster deployment.
		p
			| I am dedicated to making my workflow extremely efficient and continuing to discover and utilize tools and frameworks that allow me to work really, really fast and really, really well.
	.one_of_four
		h4 Craft for scalability.
		p
			| It’s a skill in itself to adopt coding patterns that scale well, and there’s a massive world of techniques out there to become aware of and start implementing regularly.