section#opener
	.vert
		header.brand(itemscope='itemscope', itemtype='http://schema.org/Brand')
			h1(itemprop='name')
				| a
				span.alt_color minimal
				| animal
			h2
				span.alt_color austin
				| tx ui/
				span.alt_color web design
		.intro
			.cartoon_bubble
				.vert
					p
						| Hi!
						br
						| I’m James. I'm a front-end
						br
						| web designer–developer,
						br
						| and this is my portfolio.
			figure.author_picture