section#portfolio
	h3 Work so far
	h4.highlight Scroll right to see more, and tap for more info.
	.portfolio_slider_container
		// width below is hard-coded to prevent css cache issues from making the contents fall out when updated 
		.portfolio_slider(style='width: 7053px;')
			include portfolio/steel_pan
			include portfolio/dice_roller
			include portfolio/ron_parks_photography
			include portfolio/chemical_grove_broken_people
			include portfolio/go5