section#skills
	h3 What I'm good at 
		span.icon-heart_empty.highlight
	p#skillslab
		span.slabtext
			span.icon-HTML5
			| HTML5
			span.icon-Sass
			| SASS
			span.icon-Photoshop
			| Photoshop
		span.slabtext
			span.icon-Illustrator
			| Illustrator
			span.icon-CSS3
			| CSS3
		span.slabtext
			| Responsive Web Design
		span.slabtext
			span.icon-JavaScript
			| JavaScript &amp;
			span.icon-jQuery
			| jQuery
			span.icon-WordPress
			| WordPress
		span.slabtext
			| User-Interface &amp; Experience
			span.icon-php
			| PHP
			span.icon-CoffeeScript
			| Coffeescript
			span.icon-compass
			| Compass