section#compliments
	h3 Recommendations and Endorsements
	figure.one_of_three
		blockquote
			p James is an intelligent self-motivated learner who works diligently to become the best at everything he does. He is his own toughest critic, which is an admirable quality when combined with endless patience to solve technical and aesthetic questions.
			p He also cares deeply about his clients, and is constantly striving to best suit their needs, often above and beyond what they are paying for. He learns from even the most difficult clients, and uses that information to better his workflow for the next project.
			p James is an asset in any environment, and there is no question that he will bring great value to a team by executing even the smallest tasks with care and dedication.
		figcaption(itemscope='itemscope', itemtype='http://schema.org/Person')
			| —
			a(href='http://www.ume7.com/', title='Ume 7 - Portfolio of Nikki Hampson', target='_blank')
				span(itemprop='name') Nikki Hampson
			br
			span(itemprop='jobTitle') Creative Director
			br
			a(href='http://www.monkee-boy.com/', target='_blank')
				span(itemprop='worksFor') Monkee-Boy Web Design, Inc
	figure.one_of_three
		blockquote
			p James has been a pleasure to work with every step of the way. He made my website clean, functional, and eye-catching. He also provided me with up-to-date information on SEO practices. After creating my site, he spent time with me to make sure I understood the ins and outs of it so that I could make changes on my own. James went above and beyond.
		figcaption(itemscope='itemscope', itemtype='http://schema.org/Person')
			| —
			a(href='http://ronparksphotography.com', target='_blank')
				span(itemprop='name') Ron Parks
				br
				span(itemprop='jobTitle') Photographer, Owner
				br
				span(itemprop='worksFor') Ron Parks Photography
	figure.one_of_three
		blockquote
			p James has been a tremendous help to my firm. We work with only small businesses in the Austin-area, and he's been a great go-to guy for finishing projects and helping us get our clients' websites "just right." I can also count on him to get the job done in a timely and professional manner. He's an important member of the Hot Dog Marketing team.
		figcaption(itemscope='itemscope', itemtype='http://schema.org/Person')
			| —
			a(href='http://hotdogpr.com/', target='_blank')
				span(itemprop='name') Jessica H. Scanlon
				br
				span(itemprop='jobTitle') Marketing Consultant, Owner
				br
				span(itemprop='worksFor') Hot Dog Marketing, LLC