section#focuses
	h3 What I'm focusing on
	.one_of_two
		h4 Responsive Web Design.
		p
			| What's that? It's the web industry's term for making the content of a web page fit any screen that you can access it with. I'm
			em really
			| into this.
		p
			strong Check it out:
			br
			| Scroll back to the top, then play around with resizing your browser (or turn your device), and watch how this page adapts.
		p.cool
	.one_of_two
		h4 CSS—not image-based—design.
		p
			| You know those beautiful Retina displays that iPads and Macbook Pros have?
		p
			| In five years, it's likely that every new computer will come with one, and the internet isn't up to their standards yet—but by adhering to web standards and basing sites on CSS rather than just chopping-up Photoshop files, most aspects of a webpage
			em can
			| be retina-ready while
			em also
			| being faster to load.
	.one_of_one.user_exp
		span.user_exp_left &amp;, of course,
		h4 User-experience. Simplicity. Understandability.
		span.user_exp_right You know, all that jazz.